{% extends 'base.html' %}

{% block  content %}

<p>{{name | upper}}</p>

<!-- Akhir Jumbotron -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="shadow p-3 mb-5 bg-body rounded text-center text-success text-opacity-25 h2">DAFATR BUKU</div>
                <a href="{% url 'keluar' %}" class="text-white btn btn-primary justify-content-end">Keluar</a>
                <a href="{% url 'export_xls' %}" class="text-white btn btn-success justify-content-end">Download</a>
                <a href="{% url 'signup' %}" class="btn btn-primary">Buat Akun</a>
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <!-- User Tamplate -->
            <center>
                <p >Selamat Datang  <strong>{{ user }}</strong>.!</p>
            </center>
            <!-- End User Tamplate -->
            <!-- <h4 class=""></h4>
            <hr class="border border-success border-3 opacity-30"> -->
            <table class="table table-success table-striped table-bordered border-success">
                <thead>
                    <tr>
                        <th>COVER</th>
                        <th>JUDUL</th>
                        <th>PENULIS</th>
                        <th>PENERBIT</th>
                        <th>JUMLAH</th>
                        <th>KELOMPOK</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                   {% for buku in books %}
                        <tr>
                            <td>
                                {% if buku.cover %}
                                    <img src="{{ buku.cover.url }}" alt="cover buku" width="90px">
                                {% endif %}
                            </td>
                            <td>{{buku.judul}}</td>
                            <td>{{buku.penulis}}</td>
                            <td>{{buku.penerbit}}</td>
                            <td>{{buku.jumlah}}</td>
                            <td>{{buku.kelompok_id}}</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#hapus-{{ buku.id }}">
                                    Hapus
                                </button>
                                    <a href="{% url 'ubah_buku' buku.id %}" class="text-white btn btn-primary">Ubah</a>
                                <div class="text-center mt-1">
                                    <a href="{% url 'tambah_buku' %}" class="btn btn-success mb-1">Tambah</a>
                                </div>
                            </td>
                            
                            <div class="modal fade" id="hapus-{{ buku.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah Anda Yakin Ingin Menghapus <strong>{{ buku.judul | upper}}</strong>...?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-danger"><a href="{% url 'hapus' buku.id %}" class="text-white">Hapus</a></button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- <a href="/penerbit" class="btn btn-danger">Penerbit</a> -->
</div>

{% endblock  %}
